.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {
  border: .1rem solid black;
  padding: 2rem;
}

.recipe-container {
  display: flex;
}

.recipe-container-item {
  flex: 1;
}

label {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}
